# Azure OpenAI Configuration
OPENAI_API_KEY=y4vmaXzPWRIGgBMSBjRglEuINKRFkp4zoGoKmvjQhm9UAigOenjqhJQQJ99BDACYeBjFXJ3w3AAABACOGQIL8
#OPENAI_API_VERSION=2023-05-15
#AZURE_DEPLOYMENT_NAME=your_deployment_name_here
#AZURE_ENDPOINT= https://fruleverification.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2025-01-01-preview

# Application Configuration
FLASK_ENV=development
FLASK_DEBUG=1
FLASK_APP=src.api.app
